flows.json
[
    {
        "id": "cfd0ecd32cb7f357",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ac7b07a69c8475ff",
        "type": "http in",
        "z": "cfd0ecd32cb7f357",
        "name": "",
        "url": "/igor",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "6412dccbd8e3e498"
            ]
        ]
    },
    {
        "id": "7db8d82ceb77d396",
        "type": "http response",
        "z": "cfd0ecd32cb7f357",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 530,
        "y": 120,
        "wires": []
    },
    {
        "id": "f5ff674c5dcdf920",
        "type": "debug",
        "z": "cfd0ecd32cb7f357",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 200,
        "wires": []
    },
    {
        "id": "f80b03867e251167",
        "type": "http in",
        "z": "cfd0ecd32cb7f357",
        "name": "",
        "url": "/igor/car",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 520,
        "wires": [
            [
                "386af68e1676a8c8"
            ]
        ]
    },
    {
        "id": "386af68e1676a8c8",
        "type": "cloudantplus out",
        "z": "cfd0ecd32cb7f357",
        "name": "",
        "cloudant": "56cc8bf759210f0b",
        "database": "igoraugusto",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 310,
        "y": 520,
        "wires": [
            [
                "74dac05a05ce32c2",
                "bd731cc8bafe2d18"
            ]
        ]
    },
    {
        "id": "74dac05a05ce32c2",
        "type": "http response",
        "z": "cfd0ecd32cb7f357",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 550,
        "y": 520,
        "wires": []
    },
    {
        "id": "bd731cc8bafe2d18",
        "type": "debug",
        "z": "cfd0ecd32cb7f357",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 600,
        "wires": []
    },
    {
        "id": "560738c85413eae0",
        "type": "http in",
        "z": "cfd0ecd32cb7f357",
        "name": "",
        "url": "/igor",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 700,
        "wires": [
            [
                "cd93e42b430d052b"
            ]
        ]
    },
    {
        "id": "cd93e42b430d052b",
        "type": "cloudantplus out",
        "z": "cfd0ecd32cb7f357",
        "name": "",
        "cloudant": "56cc8bf759210f0b",
        "database": "igoraugusto",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 350,
        "y": 700,
        "wires": [
            [
                "41a88ffc2c5a0ddc",
                "00f741bef15d2573"
            ]
        ]
    },
    {
        "id": "41a88ffc2c5a0ddc",
        "type": "http response",
        "z": "cfd0ecd32cb7f357",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 590,
        "y": 700,
        "wires": []
    },
    {
        "id": "00f741bef15d2573",
        "type": "debug",
        "z": "cfd0ecd32cb7f357",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 780,
        "wires": []
    },
    {
        "id": "9d0e7538e3c9d3af",
        "type": "http in",
        "z": "cfd0ecd32cb7f357",
        "name": "",
        "url": "/igor",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 880,
        "wires": [
            [
                "d51f63ac9673b241"
            ]
        ]
    },
    {
        "id": "d51f63ac9673b241",
        "type": "cloudantplus out",
        "z": "cfd0ecd32cb7f357",
        "name": "",
        "cloudant": "56cc8bf759210f0b",
        "database": "igoraugusto",
        "service": "_ext_",
        "payonly": true,
        "operation": "delete",
        "x": 350,
        "y": 880,
        "wires": [
            [
                "13a4367e8b5490b5",
                "9655a40ed933b886"
            ]
        ]
    },
    {
        "id": "13a4367e8b5490b5",
        "type": "http response",
        "z": "cfd0ecd32cb7f357",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 590,
        "y": 880,
        "wires": []
    },
    {
        "id": "9655a40ed933b886",
        "type": "debug",
        "z": "cfd0ecd32cb7f357",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 960,
        "wires": []
    },
    {
        "id": "a427fdaa015ed065",
        "type": "comment",
        "z": "cfd0ecd32cb7f357",
        "name": "GET ALL",
        "info": "",
        "x": 360,
        "y": 60,
        "wires": []
    },
    {
        "id": "25b81fbbbca9144e",
        "type": "comment",
        "z": "cfd0ecd32cb7f357",
        "name": "GET ID",
        "info": "",
        "x": 374,
        "y": 266,
        "wires": []
    },
    {
        "id": "c02979d3d96e42ae",
        "type": "comment",
        "z": "cfd0ecd32cb7f357",
        "name": "POST",
        "info": "",
        "x": 350,
        "y": 460,
        "wires": []
    },
    {
        "id": "5db8ad17790b0d2d",
        "type": "comment",
        "z": "cfd0ecd32cb7f357",
        "name": "PUT (UPDATE)",
        "info": "",
        "x": 380,
        "y": 640,
        "wires": []
    },
    {
        "id": "243b604d5b58d0e6",
        "type": "comment",
        "z": "cfd0ecd32cb7f357",
        "name": "DELETE",
        "info": "",
        "x": 380,
        "y": 800,
        "wires": []
    },
    {
        "id": "dac51e94ba87903f",
        "type": "http in",
        "z": "cfd0ecd32cb7f357",
        "name": "",
        "url": "/igor",
        "method": "patch",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 1080,
        "wires": [
            [
                "d063530e815beeaa"
            ]
        ]
    },
    {
        "id": "d063530e815beeaa",
        "type": "cloudantplus out",
        "z": "cfd0ecd32cb7f357",
        "name": "",
        "cloudant": "56cc8bf759210f0b",
        "database": "igoraugusto",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 350,
        "y": 1080,
        "wires": [
            [
                "c8f54c9bb40e4b8f",
                "8722361b7379bf7d"
            ]
        ]
    },
    {
        "id": "c8f54c9bb40e4b8f",
        "type": "http response",
        "z": "cfd0ecd32cb7f357",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 590,
        "y": 1080,
        "wires": []
    },
    {
        "id": "8722361b7379bf7d",
        "type": "debug",
        "z": "cfd0ecd32cb7f357",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 1160,
        "wires": []
    },
    {
        "id": "9d71ed0bf0c9bc5f",
        "type": "comment",
        "z": "cfd0ecd32cb7f357",
        "name": "PATCH",
        "info": "",
        "x": 370,
        "y": 1000,
        "wires": []
    },
    {
        "id": "6412dccbd8e3e498",
        "type": "cloudantplus in",
        "z": "cfd0ecd32cb7f357",
        "name": "",
        "cloudant": "56cc8bf759210f0b",
        "database": "igoraugusto",
        "service": "_ext_",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 290,
        "y": 120,
        "wires": [
            [
                "7db8d82ceb77d396",
                "f5ff674c5dcdf920"
            ]
        ]
    },
    {
        "id": "f8d83f1fff72595d",
        "type": "http in",
        "z": "cfd0ecd32cb7f357",
        "name": "",
        "url": "/igor",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 340,
        "wires": [
            [
                "261f9627049bdd37"
            ]
        ]
    },
    {
        "id": "bcc4f7148d972d55",
        "type": "http response",
        "z": "cfd0ecd32cb7f357",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 550,
        "y": 340,
        "wires": []
    },
    {
        "id": "891c02b0237cdcae",
        "type": "debug",
        "z": "cfd0ecd32cb7f357",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 420,
        "wires": []
    },
    {
        "id": "261f9627049bdd37",
        "type": "cloudantplus in",
        "z": "cfd0ecd32cb7f357",
        "name": "",
        "cloudant": "56cc8bf759210f0b",
        "database": "igoraugusto",
        "service": "_ext_",
        "search": "_id_",
        "design": "",
        "index": "",
        "x": 310,
        "y": 340,
        "wires": [
            [
                "bcc4f7148d972d55",
                "891c02b0237cdcae"
            ]
        ]
    },
    {
        "id": "3f150ad3034226c0",
        "type": "http in",
        "z": "cfd0ecd32cb7f357",
        "name": "",
        "url": "/igor/cars",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 800,
        "y": 520,
        "wires": [
            [
                "da0c8efd498ba42e"
            ]
        ]
    },
    {
        "id": "fa443b6cd3e99c7d",
        "type": "cloudantplus out",
        "z": "cfd0ecd32cb7f357",
        "name": "",
        "cloudant": "56cc8bf759210f0b",
        "database": "igoraugusto",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 1170,
        "y": 520,
        "wires": [
            [
                "7720ecbd7048c52a"
            ]
        ]
    },
    {
        "id": "1addf049de5c0903",
        "type": "http response",
        "z": "cfd0ecd32cb7f357",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1530,
        "y": 460,
        "wires": []
    },
    {
        "id": "bec79a0a4ce84584",
        "type": "debug",
        "z": "cfd0ecd32cb7f357",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 580,
        "wires": []
    },
    {
        "id": "40d157c90a75c9ee",
        "type": "comment",
        "z": "cfd0ecd32cb7f357",
        "name": "POST (ARRAY)",
        "info": "",
        "x": 980,
        "y": 420,
        "wires": []
    },
    {
        "id": "da0c8efd498ba42e",
        "type": "split",
        "z": "cfd0ecd32cb7f357",
        "name": "",
        "splt": ",",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 990,
        "y": 520,
        "wires": [
            [
                "fa443b6cd3e99c7d"
            ]
        ]
    },
    {
        "id": "7720ecbd7048c52a",
        "type": "join",
        "z": "cfd0ecd32cb7f357",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1350,
        "y": 520,
        "wires": [
            [
                "1addf049de5c0903",
                "bec79a0a4ce84584"
            ]
        ]
    },
    {
        "id": "460739fa65afdeed",
        "type": "comment",
        "z": "cfd0ecd32cb7f357",
        "name": "join permite resultado de cada req na res",
        "info": "",
        "x": 1280,
        "y": 420,
        "wires": []
    },
    {
        "id": "56cc8bf759210f0b",
        "type": "cloudantplus",
        "host": "https://apikey-v2-14xuwl5dhgbfr6oasi0pcgh5mlxe8bqumleoup4gwc5k:640357996ff6617f43a5a51bffe0cb77@8472bb0f-4f34-4675-bd25-3cf7a52343d1-bluemix.cloudantnosqldb.appdomain.cloud",
        "name": "",
        "useapikey": true
    }
]