iot/flows.json
[
    {
        "id": "d104de89b7a6295c",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9b9df75ffd5ecfa7",
        "type": "http in",
        "z": "d104de89b7a6295c",
        "name": "",
        "url": "/igormoist",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 160,
        "wires": [
            [
                "0ad3d09f67fec0a0",
                "6d3a3b8b17a1dcd8",
                "84de1334ab2287ad"
            ]
        ]
    },
    {
        "id": "0ad3d09f67fec0a0",
        "type": "cloudantplus out",
        "z": "d104de89b7a6295c",
        "name": "",
        "cloudant": "56cc8bf759210f0b",
        "database": "igorumidade",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 430,
        "y": 160,
        "wires": [
            [
                "320445ce687b6f8a"
            ]
        ]
    },
    {
        "id": "84de1334ab2287ad",
        "type": "debug",
        "z": "d104de89b7a6295c",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 240,
        "wires": []
    },
    {
        "id": "320445ce687b6f8a",
        "type": "http response",
        "z": "d104de89b7a6295c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 160,
        "wires": []
    },
    {
        "id": "6d3a3b8b17a1dcd8",
        "type": "ui_gauge",
        "z": "d104de89b7a6295c",
        "name": "",
        "group": "c71e3102b3138637",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "gauge",
        "label": "%",
        "format": "{{msg.payload.umidade}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 410,
        "y": 80,
        "wires": []
    },
    {
        "id": "56cc8bf759210f0b",
        "type": "cloudantplus",
        "host": "https://apikey-v2-2lmhq1gzwjoabomcns4s0xk9ql6r2vtp8kl6mh863fts:c49394da412cd8baa3bd5c3b025f248f@8472bb0f-4f34-4675-bd25-3cf7a52343d1-bluemix.cloudantnosqldb.appdomain.cloud",
        "name": "",
        "useapikey": true
    },
    {
        "id": "c71e3102b3138637",
        "type": "ui_group",
        "name": "Default",
        "tab": "b82b1ae5193320fe",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b82b1ae5193320fe",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]